.header {
    position: sticky;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    background-color: var(--color-bg-addition);
    z-index: 1;
}

.header-logo {
    font-size: 1.7em;
    font-weight: 700;
    color: var(--color-button-addition);
    cursor: pointer;
    text-decoration: none;
}
.header-btn {
    height: 40px;
    width: 140px;
    border-radius: 35px;
    color:var(--color-addition);
    background-color: var(--color-button-addition);
    cursor: pointer;
    border: none;
    
}

.header-btn-2 {
    height: 40px;
    width: 140px;
    border-radius: 35px;
    color:var(--color-addition);
    background-color: var(--color-button-addition);
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.header-admin {
    height: 40px;
    width: 140px;
    border-radius: 35px;
    color:var(--color-addition);
    background-color: var(--color-button-addition);
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.header-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.header-btn:hover {
    background-color: var(--color-button);
}
.header-logo:hover {
    color: var(--color-button);
}
.menu-header {
    font-size: 1.7em;
    font-weight: 700;
    display: none;
}
