.item-card {
    width: 300px;
    height: 100px;
    border-radius: 30px;
    background-color: var(--color-button-addition);
    cursor: pointer;
  }
  .item-img {
    width: 100%;
    border-radius: 30px;
    background-color: var(--color-bg-addition2);
    height: 70px;
    text-align: center;
    font-size: 2em;
    color: var(--color-text-addition);
  }
  .item-img img {
    object-fit: cover;
    height: 70px;
    width: 300px;
    border-radius: 30px;
  }
  .item-name {
    text-align: center;
    font-size: 1.3em;
    color: var(--color-bg-main);
  }