/*------------------------- Main page -------------------------*/

.main-page-shop {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: var(--color-bg-main);
    align-items: center;
    gap:15px;
    /* margin-bottom: 90px; */
}
/*------------------------- Shop Title -------------------------*/
.shop-nav {
    background: var(--color-button-addition);
    color: var(--color-addition);
    border-radius: 30px;
    width: 60%;
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    object-fit: scale-down;
}
.shop-nav h1 {
    font-size: 2em;
}
.search-header {
    width: 400px;
    height: 40px;
    border-radius: 35px;
    outline: none;
    font-size: 1.2em;
    padding-left: 15px; 
}
/*------------------------- Items container -------------------------*/

.item-container {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background-color: var(--color-bg-addition);
    align-items: center;
    justify-content: center;
    width: 60%;
    overflow-x: hidden;

    flex-wrap: wrap;
    gap: 16px;
    max-height: 75vh;
    min-height:300px;
    margin: 0 auto;
    padding: 20px 10px;
    overflow-y: auto;
}
